<div class="td-header-menu-wrap-full td-container-wrap" style="height: 55px;">
    <div class="td-header-menu-wrap">
        <div class="td-container td-header-main-menu">
            <div id="td-header-menu" role="navigation">
                <div id="td-top-mobile-toggle">
                    <a href="#"><i class="td-icon-font td-icon-mobile"></i></a>
                </div>
                <div class="td-main-menu-logo td-logo-in-header">
                    <a class="td-mobile-logo td-sticky-disable" href="#">
                        <img src="/logo_white_transparent.png" alt="">
                    </a>
                    <a class="td-header-logo td-sticky-disable" href="#">
                        <img src="/logo_blue_transparent.png" alt="">
                    </a>
                </div>
                <div class="menu-main-menu-container">
                    <ul class="sf-menu sf-js-enabled">
                        {#include menu list#}
                        {% include 'site/menulist.html.twig' %}
                        {#===================================#}
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="td-header-menu-wrap mobile-menu hidden">
    <div class="td-container td-header-main-menu">
        <ul class="td-mobile-main-menu">
            {#include menu list#}
            {% include 'site/menulist.html.twig' %}
            {#===================================#}
        </ul>
    </div>
</div>
