<div class="tdc-row">
    <div class="vc_row td_uid_14_59095b0f8e047_rand  wpb_row td-pb-row">
        <div class="vc_column td_uid_15_59095b0f8e128_rand  wpb_column vc_column_container td-pb-span12">
            <div class="wpb_wrapper">
                <div
                        class="td_block_wrap td_block_big_grid_2 td_uid_16_59095b0f8e274_rand td-grid-style-1 td-hover-1 td-big-grids td-pb-border-top td_block_template_1"
                        data-td-block-uid="td_uid_16_59095b0f8e274">
                    <div id="td_uid_16_59095b0f8e274" class="td_block_inner">
                        <div class="td-big-grid-wrapper td-posts-3">
                            <div
                                    class="td_module_mx5 td-animation-stack td-big-grid-post-0 td-big-grid-post td-mx-15">
                                <div class="td-module-image">
                                    <div class="td-module-thumb"><a
                                            href="#"
                                            rel="bookmark"
                                            title="Beauties You Should Follow for Great Inspiration"><img
                                            width="485" height="360"
                                            class="entry-thumb td-animation-stack-type0-2"
                                            src="/images/shutterstock_326162402-485x360.jpg"
                                            title="Beauties You Should Follow for Great Inspiration"></a>
                                    </div>
                                    <div class="td-post-category-wrap"><a
                                            href="#"
                                            class="td-post-category">Beauty today</a></div>
                                </div>
                                <div class="td-meta-info-container">
                                    <div class="td-meta-align">
                                        <div class="td-big-grid-meta">
                                            <h3 class="entry-title td-module-title"><a
                                                    href="#"
                                                    rel="bookmark"
                                                    title="Beauties You Should Follow for Great Inspiration">Beauties
                                                You Should Follow for Great Inspiration</a></h3></div>
                                        <div class="td-module-meta-info">
                                                    <span class="td-post-date"><time
                                                            class="entry-date updated td-module-date"
                                                            datetime="2016-08-09T10:46:12+00:00">August 9, 2016
                                                    </time></span></div>
                                    </div>
                                </div>
                            </div>
                            <div
                                    class="td_module_mx5 td-animation-stack td-big-grid-post-1 td-big-grid-post td-mx-15">
                                <div class="td-module-image">
                                    <div class="td-module-thumb"><a
                                            href="#"
                                            rel="bookmark"
                                            title="Why Do Women Cope With Stress A Lot Better than Men"><img
                                            width="485" height="360"
                                            class="entry-thumb td-animation-stack-type0-2"
                                            src="/images/shutterstock_274284761-485x360.jpg"
                                            title="Why Do Women Cope With Stress A Lot Better than Men"></a>
                                    </div>
                                    <div class="td-post-category-wrap"><a
                                            href="#"
                                            class="td-post-category">Health &amp; wellness</a></div>
                                </div>
                                <div class="td-meta-info-container">
                                    <div class="td-meta-align">
                                        <div class="td-big-grid-meta">
                                            <h3 class="entry-title td-module-title"><a
                                                    href="#"
                                                    rel="bookmark"
                                                    title="Why Do Women Cope With Stress A Lot Better than Men">Why
                                                Do Women Cope With Stress A Lot Better than Men</a></h3>
                                        </div>
                                        <div class="td-module-meta-info">
                                                    <span class="td-post-date"><time
                                                            class="entry-date updated td-module-date"
                                                            datetime="2016-08-09T10:46:31+00:00">August 9, 2016
                                                    </time></span></div>
                                    </div>
                                </div>
                            </div>
                            <div
                                    class="td_module_mx5 td-animation-stack td-big-grid-post-2 td-big-grid-post td-mx-15">
                                <div class="td-module-image">
                                    <div class="td-module-thumb"><a
                                            href="#"
                                            rel="bookmark"
                                            title="Russia: Exploring the Giant Lakes of Syberia"><img
                                            width="485" height="360"
                                            class="entry-thumb td-animation-stack-type0-2"
                                            src="/images/shutterstock_232484464-485x360.jpg"
                                            title="Russia: Exploring the Giant Lakes of Syberia"></a>
                                    </div>
                                    <div class="td-post-category-wrap"><a
                                            href="#"
                                            class="td-post-category">Travel</a></div>
                                </div>
                                <div class="td-meta-info-container">
                                    <div class="td-meta-align">
                                        <div class="td-big-grid-meta">
                                            <h3 class="entry-title td-module-title"><a
                                                    href="#"
                                                    rel="bookmark"
                                                    title="Russia: Exploring the Giant Lakes of Syberia">Russia:
                                                Exploring the Giant Lakes of Syberia</a></h3></div>
                                        <div class="td-module-meta-info">
                                                    <span class="td-post-date"><time
                                                            class="entry-date updated td-module-date"
                                                            datetime="2016-08-09T10:46:53+00:00">August 9, 2016
                                                    </time></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

