
<aside class="td_block_template_1 widget widget_recent_entries">
    <h4 class="block-title"><span>Të Fundit</span></h4>
    <ul>
        {% for article in recent %}
        <li>
            <a href="{{ path('article',{'slug':article.slug}) }}"
               title="{{ article.title }}">{{ article.title }}</a>
        </li>
        {% endfor %}
    </ul>
</aside>
