<aside class="td_block_wrap td_block_popular_categories td_block_widget widget widget_categories td-pb-border-top td_block_template_1">
    <h4 class="block-title">
        <span>Popular Categories</span>
    </h4>
    <ul>
        <li><a href="#">Grid Premium
                Full 10<span class="td-cat-no">18</span></a></li>
        <li><a href="#">Beauty
                today<span class="td-cat-no">6</span></a></li>
        <li><a href="#">Culture<span
                    class="td-cat-no">6</span></a></li>
        <li><a href="#">Dining<span
                    class="td-cat-no">6</span></a></li>
        <li><a href="#">Fitness
                week<span class="td-cat-no">6</span></a></li>
        <li><a href="#">Health &amp;
                wellness<span class="td-cat-no">6</span></a></li>
    </ul>
</aside>

