<aside class="td-a-rec td-a-rec-id-custom_ad_1 td_block_wrap td_block_ad_box td_block_widget td-pb-border-top td_block_template_1 ">
    <div class="td-block-title-wrap">
        <h4 class="block-title"><span>Advertisement</span></h4>
    </div>
    <div class="td-rec-wrap">
        <div class="td-visible-desktop">
            <a href="#"><img class="td-retina"
                             style="max-width:300px"
                             src="/images/rec-medium.jpg"
                             alt="" width="300"
                             height="250"></a>
        </div>
        <div class="td-visible-tablet-landscape">
            <a href="#"><img class="td-retina"
                             style="max-width:300px"
                             src="/images/rec-medium.jpg"
                             alt="" width="300"
                             height="250"></a>
        </div>
        <div class="td-visible-tablet-portrait">
            <a href="#"><img class="td-retina"
                             style="max-width:228px"
                             src="/images/rec-medium.jpg"
                             alt="" width="300"
                             height="250"></a>
        </div>
        <div class="td-visible-phone">
            <a href="#"><img class="td-retina"
                             style="max-width:300px"
                             src="/images/rec-medium.jpg"
                             alt="" width="300"
                             height="250"></a>
        </div>
    </div>
</aside>
