{% extends '@XengCmsAdmin/content/article/articleEdit.html.twig' %}
{% trans_default_domain 'admin' %}
{% set currentTab = 'images' %}

{% block tabcontent %}
    <div class="tab-pane active">


    </div>

{% endblock %}




