{% extends '@XengCmsAdmin/layout.html.twig' %}
{% trans_default_domain 'admin' %}
{% set page_title = 'xeng.admin.page.title.content.article.edit' | trans ~ ': ' ~ article.title %}

{% block content %}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="{{ currentTab=='general'?'active':'' }}">
                <a href="{{ path('xeng.admin.content.article.edit',{'nodeId': article.id}) }}"
                   aria-expanded="false">General</a>
            </li>
        </ul>
        <div class="tab-content">
            {% block tabcontent %}
            {% endblock %}
        </div>
        <!-- /.tab-content -->
    </div>

{% endblock %}




