{% extends 'admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}
{% set page_title = 'xeng.admin.page.title.role.edit' | trans ~ ': ' ~ role.name %}

{% block content %}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="{{ currentTab=='general'?'active':'' }}">
                <a href="{{ path('xeng.admin.role.edit',{'roleId': role.id}) }}"
                   aria-expanded="false">General</a>
            </li>
            {% if is_granted('p[x_core.role.permissions_update]') %}
            <li class="{{ currentTab=='permissions'?'active':'' }}">
                <a href="{{ path('xeng.admin.role.edit.permissions',{'roleId': role.id}) }}"
                   aria-expanded="false">Permissions</a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            {% block tabcontent %}
            {% endblock %}
        </div>
        <!-- /.tab-content -->
    </div>

{% endblock %}




