<div class="td-footer-ad td-container-wrap">
</div>
<div class="td-footer-outer-wrapper td-container-wrap">
    <div class="td-footer-wrapper td-footer-template-2">
        <div class="td-container">

            <div class="td-pb-row">
                <div class="td-pb-span12">
                    <aside class="footer-social-wrap">
                        <span class="td-social-icon-wrap">
                        <a target="_blank" href="#" title="Facebook">
                            <i class="td-icon-font td-icon-facebook"></i>
                            <span class="td-social-name">Facebook</span>
                        </a>
                        </span>
                        <span class="td-social-icon-wrap">
                        <a target="_blank" href="#" title="Google+">
                            <i class="td-icon-font td-icon-googleplus"></i>
                            <span class="td-social-name">Google+</span>
                        </a>
                        </span>
                        <span class="td-social-icon-wrap">
                        <a target="_blank" href="#" title="Instagram">
                            <i class="td-icon-font td-icon-instagram"></i>
                            <span class="td-social-name">Instagram</span>
                        </a>
                        </span>
                        <span class="td-social-icon-wrap">
                        <a target="_blank" href="#" title="Twitter">
                            <i class="td-icon-font td-icon-twitter"></i>
                            <span class="td-social-name">Twitter</span>
                        </a>
                        </span>
                        <span class="td-social-icon-wrap">
                        <a target="_blank" href="#" title="Youtube">
                            <i class="td-icon-font td-icon-youtube"></i>
                            <span class="td-social-name">Youtube</span>
                        </a>
                        </span>
                    </aside>
                </div>
                <div class="td-pb-span12">
                    <aside class="footer-logo-wrap">
                        <a href="#">
                            <img style="max-height: 56px" src="/logo_white_transparent.png" >
                        </a>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <div class="td-sub-footer-container">
        <div class="td-container">
            <div class="td-pb-row">
                <div class="td-pb-span12 td-sub-footer-menu">
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="td-subfooter-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu">
                                <a href="https://demo.tagdiv.com/ionmag/">Home</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu">
                                <a href="https://demo.tagdiv.com/ionmag/blog/">Blog</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu">
                                <a href="https://demo.tagdiv.com/ionmag/about-me/">About me</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu ">
                                <a href="https://demo.tagdiv.com/ionmag/contact/">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="td-pb-span12 td-sub-footer-copy">
                    © 2017 NewsEtika.al - All rights reserved.
                    <br>
                    Powered by <a href="#">XengCMS</a>
                </div>
            </div>
        </div>
    </div>
</div>
