<div class="td-header-logo-wrap td-container-wrap">
    <div class="td-container">
        <div class="td-header-sp-logo">
            <h1 class="td-logo"><a class="td-main-logo" href="#">
                    <img src="/images/logo-header.png">
                    <span class="td-visual-hidden">News Etika</span>
                </a>
            </h1></div>
        <div class="td-header-sp-recs">
            <div class="td-header-rec-wrap">
                <div class="td-a-rec td-a-rec-id-header td_block_wrap td_block_ad_box td-pb-border-top td_block_template_1 ">
                    <div class="td-rec-wrap">
                        <div class="td-visible-desktop">
                            <a href="#"><img src="/images/rec.png"></a>
                        </div>
                        <div class="td-visible-tablet-landscape">
                            <a href="#"><img src="/images/rec.png"></a>
                        </div>
                        <div class="td-visible-tablet-portrait">
                            <a href="#"><img src="/images/rec.png"></a>
                        </div>
                        <div class="td-visible-phone">
                            <a href="#"><img src="/images/rec.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>