{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <div class="td-header-wrap td-header-style-1">
            {#include header#}
            {% include 'header.html.twig' %}
            {#===================================#}

            {#include menu #}
            {% include 'mainmenu.html.twig' %}
            {#===================================#}

        </div>
        <div class="td-main-content-wrap td-main-page-wrap td-container-wrap">
            {% block maincontent %}
            {% endblock %}
        </div>
        {# include footer #}
        {% include 'footer.html.twig' %}
        {#===================================#}
    </div>

{% endblock %}
