
<li class="menu-item td-menu-item td-normal-menu">
    <a href="#">Home</a>
</li>
<li class="menu-item td-menu-item td-normal-menu">
    <a href="#">Home</a>
</li>
<li class="menu-item td-menu-item td-normal-menu">
    <a href="#">Home</a>
</li>
<li class="menu-item td-menu-item td-normal-menu">
    <a href="#">Home</a>
</li>
<li class="menu-item td-menu-item td-normal-menu">
    <a href="#">Home</a>
</li>
<li class="menu-item td-menu-item td-normal-menu">
    <a href="#">Home</a>
</li>
