<div class="td-ss-main-sidebar" style="width: auto; position: static; top: auto; bottom: auto;">
    <div class="clearfix"></div>
    {#include block latest articles #}
    {% include 'blocks/follow_social.html.twig' %}
    {#===================================#}

    {#include block latest articles #}
    {% include 'blocks/most_recent.html.twig' %}
    {#===================================#}

    {#include block latest articles #}
    {#% include 'blocks/reklama.html.twig' %}
    {#===================================#}

    {#include block latest articles #}
    {#% include 'blocks/popular.html.twig' %}
    {#===================================#}

    <div class="clearfix"></div>
</div>