{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="wrapper">

    {% include 'admin/header.html.twig' %}

    {% include 'admin/sidebar.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content">

            {% block content %}

            {% endblock %}

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'admin/footer.html.twig' %}

</div>
{% endblock %}



