{% extends '@XengCmsAdmin/admin/layout.html.twig' %}
{% trans_default_domain 'admin' %}
{% set page_title = 'xeng.admin.page.title.user.edit' | trans %}

{% block content %}

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="{{ currentTab=='general'?'active':'' }}">
                <a href="{{ path('xeng.admin.user.edit',{'userId': 1}) }}"
                   aria-expanded="false">General</a>
            </li>
            <li class="">
                <a href="#" aria-expanded="false">TODO</a>
            </li>
        </ul>
        <div class="tab-content">
            {% block tabcontent %}
            {% endblock %}
        </div>
        <!-- /.tab-content -->
    </div>

{% endblock %}




