<aside class="td_block_wrap td_block_social_counter td-pb-border-top td_block_template_1">
        <h4 class="block-title"><span>Na Ndiqni</span></h4>

        <div class="td-social-list">
            <div class="td_social_type td-pb-margin-side td_social_facebook">
                <div class="td-social-box">
                    <div class="fb-page" data-href="https://www.facebook.com/Newsetika.al"
                         data-small-header="false" data-adapt-container-width="true"
                         data-hide-cover="false" data-show-facepile="true">
                        <blockquote cite="https://www.facebook.com/facebook"
                                    class="fb-xfbml-parse-ignore">
                            <a href="https://www.facebook.com/Newsetika.al">NewsEtika</a></blockquote>
                    </div>
                </div>
            </div>

            <div class="td_social_type td-pb-margin-side td_social_twitter">
                <div class="td-social-box">
                    <a class="twitter-follow-button"
                       href="https://twitter.com/NewsEtikaAl"
                       data-size="large">
                        Ndiq @NewsEtikaAl</a>
                </div>
            </div>
        </div>
    </aside>