{% extends 'layout.html.twig' %}
{% block title %}Rreth Nesh{% endblock %}

{% block maincontent %}
    <div class="tdc-content-wrap">
        <div class="tdc-row">
            <div class="td-pb-row" >
                <div class="td-pb-span8 td-main-content" role="main">
                    <p>Nese ju pyesni, kush jemi ne, pergjigja jone e menjehershme do te jete e verteta e drejtperdrejte dhe e ndershme.<br>
                        Ne nuk jemi gazetare.<br>
                        Jetojme ne kohe te tilla kur kushdo mund te jete gjithcka.<br>
                        Ne jo.<br>
                        Nuk besojme se kohet bejne te vertetat. Besojme se te vertetat bejne kohen.</p>

                    <p>Po atehere perse ne qe nuk jemi gazetare, bejme nje media online?</p>

                    <p>Sepse, duam te sherbejme si qytetare qe kerkojne te verteten, pa tjetersuar rolin tone.
                        Vendosim veten tone si ndermjetes ne kete sfide te madhe per ti kerkuar se bashku te vertetat.</p>

                    <p>Mediat dhe gazetaret ne kohet e sotme, jane korporatizuar dhe nuk kerkojne me as te vertetat e as u sherbejne me interesave dhe vleres publike.
                        Informimi eshte shnderruar ne propagande dhe marketing. Investigimi eshte degraduar ne gjobevenie. Opinioni dhe reflektimet jane kthyer ne vitrina trushplarjeje per paguesit me te majme.</p>

                    <p>Mediat dhe gazetaret nuk jane me as te lire. Kane liri deri tek borderoja apo pazaret fitimprurese.
                        Ndaj ne, si qytetare te angazhuar qe e kemi per zemer kerkimin e te vertetave, si edhe interesin dhe vleren publike, po vijme sot jo qe te bejme punen e gazetareve, por te hapim mundesite e qytetareve qe ta kqyrin e ndoshta kuptojne ndryshe gjithcka ndodh me ta, rreth tyre dhe per ta.</p>

                    <p>Ne jemi Newsetika.al dhe ne besojme te vlerat dhe parimet e patjetersueshme qe burojne nga Krijuesi.</p>
                </div>
                <div class="td-pb-span4 td-main-sidebar" role="complementary">
                    {#include sidebar #}
                    {% include 'sidebar.html.twig' %}
                    {#===================================#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}