<div class="td-post-sharing td-post-sharing-top ">
    <div class="td-default-sharing">
        <a class="td-social-sharing-buttons td-social-facebook" href="#">
            <i class="td-icon-facebook"></i>
            <div class="td-social-but-text">Share on Facebook</div>
        </a>
        <a class="td-social-sharing-buttons td-social-twitter" href="#">
            <i class="td-icon-twitter"></i>
            <div class="td-social-but-text">Tweet on Twitter</div>
        </a>
        <a class="td-social-sharing-buttons td-social-google" href="#">
            <i class="td-icon-googleplus"></i>
        </a>
    </div>
</div>