<div class="td-crumb-container">
    <div class="entry-crumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <span class="td-bred-first">
            <a href="https://demo.tagdiv.com/ionmag/">Home</a>
        </span>
        <i class="td-icon-right td-bread-sep"></i>
        <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a title="View all posts in Lifestyle" class="entry-crumb" itemscope="" itemprop="item"
               itemtype="http://schema.org/Thing" href="https://demo.tagdiv.com/ionmag/category/lifestyle/">
                <span itemprop="name">Lifestyle</span>
            </a>
        </span>
        <i class="td-icon-right td-bread-sep"></i>
        <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a title="View all posts in Beauty today" class="entry-crumb" itemscope="" itemprop="item"
               itemtype="http://schema.org/Thing" href="https://demo.tagdiv.com/ionmag/category/lifestyle/beauty/">
                <span itemprop="name">Beauty today</span>
            </a>
        </span>
        <i class="td-icon-right td-bread-sep td-bred-no-url-last"></i>
        <span class="td-bred-no-url-last">Beauties You Should Follow for Great Inspiration</span>
    </div>
</div>
